<br>
<header class="header" style="font-size: xx-large">Look at my avatar !! It's so beautiful honey !! </header>
<br>
<img class="header" src="https://scontent-xsp1-1.xx.fbcdn.net/v/t1.0-9/s960x960/82623015_474456843505070_2440589486342537216_o.jpg?_nc_cat=109&_nc_sid=7aed08&_nc_ohc=liOxLhiFdK8AX_Ph179&_nc_ht=scontent-xsp1-1.xx&_nc_tp=7&oh=553db13dc2a13892e4c9ac595841ac00&oe=5F5B97FA"
    style=" height: 400px;
width: 400px; margin-left: 575px;">
<br>

<body>
    <mat-tab-group dynamicHeight mat-align-tabs="center">
        <mat-tab label="Welcome">
            <div class="example-small-box mat-elevation-z4">
                Lướt sang phải để biết thêm về tui nhó <br> Ai lớp du pặc pặc !!!
            </div>
        </mat-tab>
        <mat-tab label="Social Account">
            <div class="example-large-box mat-elevation-z4">
                Facebook của tui: Nguyễn Nguyễn <br> Instagram của tui: _ryuu_nguyen_<br> Gmail của tui: nguyen131519@gmail.com <br> Nhớ add like follow cho mình nhó <br> Ai lớp du chu cà mo !!!
            </div>
        </mat-tab>

        <mat-tab label="My Hobby">
            <div class="example-large-box mat-elevation-z4">
                Sở thích:<br> _Ăn <br> _Ngủ
                <br> _Nấu ăn<br> _Chơi thể thao<br> _Đi du lịch bằng xe máy<br>_Thích màu hồng ghét sự giả dối<br>
            </div>
        </mat-tab>
    </mat-tab-group>

</body>